<h4>Listing tweets</h4><hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Author</th>
      <th>Message</th>  
      <th class="actions-cell">Posted at</th>
      <th ></th>
     
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.author %></td>
        <td><%= tweet.message %></td>
        <td><%= tweet.author_link %></td>
        <td><%= tweet.message_link %></td>
        <td class="actions-cell"><%= tweet.posted_at %></td>
        <td class="actions-cell">
        	<%= link_to 'View', tweet,:class=>'btn btn-mini btn-info' %>
            <%= link_to 'Tweak', edit_tweet_path(tweet),:class=>'btn btn-mini btn-warning' %>
            <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


