<%= form_for @future_tweet,:html=>{:class=>'form-horizontal'} do |f| %>
  <% if @future_tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future_tweet.errors.count, "error") %> prohibited this future_tweet from being saved:</h2>

      <ul>
      <% @future_tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="control-group">
    <%= f.label :message, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_area :message %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post_at, :class=>'control-label' %>
    <div class="controls">
    <%= f.datetime_field :post_at,:id=>'datepicker1' %>
    </div>
  </div>


  <div class="control-group">
  	<div class="controls">
    <%= f.submit 'Create Futute Tweet', :class=>'btn btn-success' %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">

 	$('#datepicker1').datetimepicker({
 		onClose: function(a){$('#datepicker1').change();}
 	});

</script>
