<legend>Connected accounts</legend>
<table class="table table-striped">
<tr><th>Network</th><th>Username</th><th>Status</th><th>Actions</th><tr>
<% @client.accounts.each do |account| %>
<tr>
	<td><%=account.name%> <%= '(primary)' if  account.primary%></td>
	<td><%=account.username%></td>
	<td><%= if account.active==true then 'Active' else 'Invalid' end%></td>
	<td><%=link_to 'Disconnect', account , method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-mini"%> 
		<%if not account.primary%>
		<%=link_to 'Make primary',account_make_primary_path(account,:AUTH_TOKEN => form_authenticity_token.inspect), :class=>"btn btn-danger btn-inverse btn-mini",:method=>:post%> 
		<%end%>
	</td>	
</tr>
<%end%>
</table>
<h2>Connect accounts</h2>

<p>
<a class="btn btn-facebook" href="<%=new_account_path+'?type=fb' %>" target="_blank" ><i class="fa fa-facebook"></i> | Connect Facebook</a>
<a class="btn btn-twitter" href="<%=new_account_path+'?type=ttr'%>" target="_blank"><i class="fa fa-twitter"></i> | Connect Twitter</a>
<a class="btn btn-pinterest" href="<%=new_account_path+'?type=pin'%>" target="_blank"><i class="fa fa-pinterest"></i> | Connect Pinterest</a>
<a class="btn btn-google-plus" href="<%=new_account_path+'?type=gplus'%>" target="_blank"><i class="fa fa-google-plus"></i> | Connect Google Plus</a>
</p>
<p>
<a class="btn btn-linkedin" href="<%=new_account_path+'?type=lkdn'%>" target="_blank"><i class="fa fa-linkedin"></i> | Connect LinkedIn</a>


<a class="btn btn-xing" href="<%=new_account_path+'?type=wp'%>" target="_blank"><i class="fa fa-lxing"></i> | Connect Wordpress</a>

<a class="btn btn-inverse" href="<%=new_account_path+'?type=blog'%>" target="_blank"><i class="fa "></i> | Connect Blog</a>
<a class="btn btn-instagram" href="<%=new_account_path+'?type=inst'%>" target="_blank"><i class="fa fa-instagram"></i> | Connect Instagram</a>

</p>
