<legend>Basic Informations</legend>
<div id="basic-info">
<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Alternate phone:</strong>
  <%= @client.alternate_phone %>
</p>
<%= link_to 'Modify', edit_client_path(@client),:class=>"btn btn-info" %> 
</div>


<%= render 'accounts'%>
<hr/>



