<script type="text/javascript" src="/assets/keywordwizard.js"></script>
<script type="text/javascript">
	var keywords_path = '<%=keywords_path%>';
	var client_twitter_name = '<%= current_client.screen_name%>';
</script>
<div id="wizard" class="swMain">
  <ul>
    <li><a href="#step-1">
          <label class="stepNumber">1</label>
          <span class="stepDesc">
             Step 1<br />
             <small>Introduction</small>
          </span>
      </a></li>
    <li><a href="#step-2">
          <label class="stepNumber">2</label>
          <span class="stepDesc">
             Step 2<br />
             <small>Create filter</small>
          </span>
      </a></li>
    <li><a href="#step-3">
          <label class="stepNumber">3</label>
          <span class="stepDesc">
             Step 3<br />
             <small>Localize</small>
          </span>                  
       </a></li>
    <li><a href="#step-4">
          <label class="stepNumber">4</label>
          <span class="stepDesc">
             Step 4<br />
             <small>Automate</small>
          </span>                  
      </a></li>
    <li><a href="#step-5">
          <label class="stepNumber">5</label>
          <span class="stepDesc">
             Step 4<br />
             <small>Advanced options</small>
          </span>                  
      </a></li>  
    
  </ul>
  
  <div id="step-1" >  
      <h2 class="StepTitle">Please read carefully</h2>
       <!-- step content -->
  </div>
  <div id="step-2">
      <h2 class="StepTitle">Filter tweets you are interested in</h2>
       <%= render :partial=> 'keywords/wiz/lead'%>
  </div>                     
  <div id="step-3">
      <h2 class="StepTitle">Narrow your focus</h2>  
       <%= render :partial=> 'keywords/wiz/localize'%>
  </div>
  <div id="step-4">
      <h2 class="StepTitle">Automate your twitter activity</h2>  
       <%= render :partial=> 'keywords/wiz/automate'%>                        
  </div>
  
  <div id="step-5">
      <h2 class="StepTitle">Fine tune with advanced options</h2>  
       <%= render :partial=> 'keywords/wiz/advanced'%>                        
  </div>

</div>
</div>

<style>
    
	
	.control-label {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 0.5em;

    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;*/
   }
  .controls {
    margin-left: 30px;
    padding-left: 0.5em;
  }
	
  .control-group > input, .control-group > label{
  	display: inline;
  }
  
  .control-group
  {
  	display: block;
  }
  .controls > div 
  {
  	display: inline-block;
  }
  
</style>
