<h4>Your keywords</h4><hr/>
<%= link_to 'New Keyword', new_keyword_path, :class=>'btn btn-success' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Category</th>
      <th>Actions</th>


    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.nickname %></td>
        <td><%= Keyword.options_for_priority[keyword.priority-1][0] %></td>
        <td class="actions-cell"><%= link_to 'View', keyword ,:class=>'btn btn-mini btn-info'%>
            <%= link_to 'Edit', edit_keyword_path(keyword),:class=>'btn btn-mini btn-warning' %>
            <%= link_to 'Destroy', keyword,:class=>'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Fetch tweets', tweets_path(:AUTH_TOKEN => form_authenticity_token.inspect, :keyword_id=>keyword.id),:class=>'btn btn-mini btn-primary',:method=>:post %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


