<div class="well accounts-holder">
 <%@posts={}%>
  <%current_client.accounts.order("account_type desc").where(:active=>true).each do |account|%>
     <%= check_box_tag account.username ,account.id,false,:class=>'selected-accounts',"data-account"=>account.id,'data-isroot'=>false%> <%= label_tag account.username, if account.primary then account.name else "#{account.name} (#{account.username})" end%>
  <%@posts.merge!(account=>Post.new(:account=>account))%>
  <%end%>
</div>


<%@post.posts.each do |post|%>
<%@posts.merge!(post.account=>post)%>
<%end%>
<div >
<%@posts.each do |account,post|%>
<%post.account=account%>
<div class="well <%='hide st-faint' unless post.parent_id%> postholder" id='<%= "postbox#{account.id}"%>'>
<%=form_for post,:namespace=>"account#{account.id}",:html=>{'data-isroot'=>false ,'data-auto'=>true,:id=>"form_#{account.id}",'data-enabled'=>false},:remote=>true do |f|%>
 <%if post.account.account_type=='wp'%>
   <%=f.label :title%>
   <%=f.text_field :title ,:style=>"width:90%;"%>
   <%= cktext_area :post, :content, :cols => 40%>
 <%elsif post.account.account_type=='fb'%>
   <%=f.hidden_field :title %>
   <%=f.label :content,"#{account.name} #{('(' + account.username + ')') unless account.primary} post"%>
   <%=f.text_area :content,:maxlenghth=>1536,:rows=>5,:style=>'width:50%;min-width:300px;' %>
 <%elsif post.account.account_type=='ttr'%>
   <%=f.hidden_field :title %>  
   <%=f.label :content,"#{account.name} #{('(' + account.username + ')') unless account.primary} post"%>
   <%=f.text_area :content,:maxlenghth=>140,:rows=>2, :style=>'width:50%;min-width:300px;' %>
 <%end%>
 <p>
 	<%=f.hidden_field :account_id%>
 	<%=f.hidden_field :content_type, :value=> account.account_type%>
 	<%#=f.submit "Post to #{account.name}"%>
 </p>
<%end%>
</div>
<%end%>
</div>

<div class="st-post-action-holder">

<%=text_field_tag :post_at,nil,:placeholder=>"When to publush",:id=>'publish-post-at-datetime',:class=>'st-faint'%>
 <button class="btn btn-primary" id="post-publish-button">Publish</button>
 <button class="btn btn-inverse"  >Save Draft</button>
</div>
