<script type="text/javascript">
 var STCurrent_post_publish_path='<%=posts_path%>';
</script>

<div class="well accounts-holder">

  <%@posts.each do |post|%>
     <%= check_box_tag post.account.username ,post.account.id,(post.id && post.parent_id==nil),:class=>'selected-accounts',"data-account"=>post.account.id,'data-isroot'=>(post.id && post.parent_id==nil)%> <%= label_tag post.account.username, post.account.easy_name%>
 
  <%end%>
</div>




<div >
<%@posts.each do |post|%>

<%if (post.id && post.parent_id==nil)%>

<script type="text/javascript">
   STrootform='<%="form_#{post.account.id}"%>' ;
   var STCurrent_post_publish_path='<%=post_path(post)%>';
</script>
<%
  is_root = true
  is_auto = false
%>
<%else
  is_root=false
  is_auto = true
  is_auto = false if post.id
end
%>

<div class="well <%='hide st-faint' unless post.id%> postholder" id='<%= "postbox#{post.account.id}"%>'>
<%=form_for post,:namespace=>"account#{post.account.id}",:html=>{'data-isroot'=>is_root ,'data-auto'=>is_auto,:id=>"form_#{post.account.id}",'data-enabled'=>false},:remote=>true do |f|%>
 <%if post.account.account_type=='wp'%>
   <%=f.label :title%>
   <%=f.text_field :title ,:style=>"width:90%;"%>
   <%= cktext_area :post, :content, :cols => 40%>
 <%elsif post.account.account_type=='fb'%>
   <%=f.hidden_field :title %>
   <%=f.label :content,"#{post.account.easy_name} post"%>
   <%=f.text_area :content,:maxlenghth=>1536,:rows=>5,:style=>'width:50%;min-width:300px;' %>
 <%elsif post.account.account_type=='ttr'%>
   <%=f.hidden_field :title %>  
   <%=f.label :content, "#{post.account.easy_name} post"%>
   <%=f.text_area :content,:maxlenghth=>140,:rows=>2, :style=>'width:50%;min-width:300px;' %>
 <%end%>
 <p>
 	<%=f.hidden_field :account_id%>
 	<%=f.hidden_field :content_type, :value=> post.account.account_type%>
 	<%#=f.submit "Post to #{account.name}"%>
 </p>
<%end%>
</div>
<%end%>
</div>

<div class="st-post-action-holder">

<%=text_field_tag :post_at,nil,:placeholder=>"When to publush",:id=>'publish-post-at-datetime',:class=>'st-faint'%>
 <button class="btn btn-primary" id="post-publish-button">Publish</button>
 <button class="btn btn-inverse"  id="post-save-draft-button">Save Draft</button>
</div>
