<table class="table table-striped">
  <thead>
    <tr>
      <th>Post</th>
      <th>Posted at</th>
      <th>Network</th>
      <th class="actions-cell"></th>

    </tr>
  </thead>

  <tbody>
    <% @published_posts.each do |post| %>
      <tr id="st-publish-post-item-<%=post.id%>" >
      	<%if post.content_type=='wp'%>
      	<td><%= post.title.first(80) %></td>
      	<%else%>
        <td><%= post.content.first(80) %></td>
        <%end%>
        <td><a href="<%=post.published_url%>"><%= post.updated_at %></a></td>
        <td><%= post.account.name %></td>
        <td class="actions-cell"><%= link_to 'Edit', edit_post_path(post),:class=>"btn btn-mini btn-warning" %>
           <%= link_to 'Erase', post, method: :delete, data: { confirm: 'This action will remove the post and associated links from all connected accounts. Are you sure?' },:class=>"btn btn-mini btn-inverse" %>
           <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-mini btn-danger" ,:remote=>true%></td>
      </tr>
    <% end %>
  </tbody>
</table>
