<!DOCTYPE html>
<html class="bootstrap">
<head>
  <title>Social</title>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" > 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="<%=root_url%>">Social Trading</a>
				<ul class="nav">
					<li class="<%= is_active? root_path%>">
						<a href="<%= root_path%>">Home</a>
					</li>
				</ul>
				<%if current_client.present?%>
				<ul class="nav">
					
					<li class="<%=is_active? tweets_path%>">
						<a href="<%= tweets_path %>">Feeds</a>
					</li>
					<li class="<%=is_active? keywords_path%>">
						<a href="<%= keywords_path %>">Keywords</a>
					</li>
					<li class="<%=is_active? future_tweets_path%>" >
						<a href="<%= future_tweets_path %>">Scheduled posts</a>
					</li>
					<li class="<%=is_active? streams_path%>" >
						<a href="<%= streams_path %>">Streams</a>
					</li>
					<li class="<%#=is_active? new_post_path%>" >
						<a href="<%= new_post_path %>">Inbox</a>
					</li>
					<li class="<%=is_active? new_post_path%>" >
						<a href="<%= new_post_path %>">Publish</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="<%=is_active? client_path(current_client)%>" >
						<a href="<%= client_path(current_client)%>">Account</a>
					</li>
					<li ><%= link_to 'Logout', destroy_client_session_path,:method =>:delete %></li>
			    </ul>
			   <%else%>
			    <ul class="nav pull-right">
			    	<li class="<%=is_active? new_client_session_path%>" ><%= link_to 'Login', new_client_session_path %></li>
			    </ul>
			    
			   <%end%>
			</div>
		</div>
   <div class="container">
   <%= render 'alerts'%>
   <%= yield %>
   </div>

</body>
</html>
