<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" /> 
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="<%=root_url%>">Social Trading</a>
				<ul class="nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
				</ul>
				<%if current_client.present?%>
				<ul class="nav">
					
					<li>
						<a href="#">Tweets</a>
					</li>
					<li>
						<a href="#">Keywords</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<a href="<%= client_path(current_client)%>">Profile</a>
					</li>
					<li><%= link_to 'Logout', destroy_client_session_path,:method =>:delete %></li>
			    </ul>
			   <%else%>
			    <ul class="nav pull-right">
			    	<li><%= link_to 'Login', new_client_session_path %></li>
			    </ul>
			    
			   <%end%>
			</div>
		</div>
   <div class="container">
   <%= render 'alerts'%>
   <%= yield %>
   </div>

</body>
</html>
